
.navbar {
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-color: #213049;
    color: #fff;
    padding: 10px;
    
  }
  .close-btn {
    padding: 5px 10px;
    background-color: #fff;
    color: red;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  .navbar-logo {
    display: block;
    width: 4rem;
    border-radius: 1rem;
  }
  
  .navbar-toggle {
    display: none;
  }
  .hamburger{
    align-self: center;
  }
  .navbar-menu {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 2rem;
  }
  
  .navbar-menu a {
    color: #fff;
    text-decoration: none;
    margin-bottom: 10px;
    padding: 10px;
    font-weight: bold;
  }
  .navbar-menu a:hover{
    background: white;
    color: black;
    border-radius: 1rem;
  }
  .close-btn{
    display: none;
  }
  .search-bar{
    padding: 0.9rem;
    border-radius: 2rem;
    border: none;
    background: rgb(230, 224, 224);
  }
  @media only screen and (max-width: 768px) {
    .navbar-menu {
      display: none;
    }
  
    .navbar-toggle {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 30px;
      height: 21px;
      cursor: pointer;
    }
  
    .navbar.active .navbar-menu {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 40%;
      height: 100vh;
      background-color: #333;
      padding: 20px;
    }
  
    .navbar.active .navbar-menu a {
      display: block;
      margin-bottom: 10px;
    }
    .close-btn {
        padding: 5px 10px;
        background-color: #fff;
        float: right;
        border: none;
        border-radius: 3px;
        display: block;
        cursor: pointer;
      }
  }